# Python/venv
.venv/
.env
.fle/
__pycache__/
*.pyc
uv.lock

# IDE/editor
.idea/
.vscode/
.DS_Store

# Build/dist
/dist

# Docker
/fle/cluster/local/docker-compose.yml

# Misc
trajectory_logs/
**/.claude/settings.local.json
*.mp4
*.jsonl
*.db

#fle
.fle/